.cirin {
	font-size: 2em;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	padding: 5px;
	text-align: center;
	font-family: 'Roboto', 'Noto', sans-serif;
	background-color: #f7931e;
	color: white;
	border: 1px solid white;
}

.cirout {
	border-radius: 100%;
	border: 5px solid #f7931e;
	display: inline-block;
	margin: 2px;
}

.off {
	border-radius: 100%;
	border: 5px solid #cccccc;
	display: inline-block;
	margin: 2px;
}

.cirinoff {
	font-size:2em;
	border-radius: 100%;
	padding: 5px;
	height: 40px;
	width: 40px;
	font-family: 'Roboto', 'Noto', sans-serif;
	background-color: #cccccc;
	color: #cccccc;
	border: 1px solid white;
	opacity: 1;
}

.leftSec, .rightSec {
	display: inline-block;
}

.leftSec {
	margin-right: 135px;
}

.row-common {	
    height: 18em;
}

#rows {
	position: fixed;
    top: 20%;
    left: 50%;
    width: 670px;
    margin-top: -30px; 
    margin-left: -320px;
}