.cirin {
	font-size:2em;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	padding: 5px;
	text-align: center;
	font-family: 'Roboto', 'Noto', sans-serif;
	background-color: #f7931e;
	color: white;
	border:1px solid white;
}

.cirout {
	border-radius: 100%;
	border: 5px solid #f7931e;
	display:inline-block;
	margin:2px;
}

.off {
	border-radius: 100%;
	border: 5px solid #cccccc;
	display: inline-block;
	margin: 2px;
}

.cirinoff {
	font-size:2em;
	border-radius: 100%;
	padding: 5px;
	height: 40px;
	width: 40px;
	font-family: 'Roboto', 'Noto', sans-serif;
	background-color: #cccccc;
	color: #cccccc;
	border:1px solid white;
}

.leftSec, .rightSec {
	display:inline-block;
}

.leftSec {
	margin-right: 50px;
}

.row-common {	
    height:18em;
}

#rows {
	position:fixed;
    top: 20%;
    left: 50%;
    width: 600px;
    margin-top: -30px; /*set to a negative number 1/2 of your height*/
    margin-left: -300px; /*set to a negative number 1/2 of your width*/
}